@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form class="navbar-form navbar-left" action="@Url.Action("Search","Home")" method="get">
        <div class="form-group input-group input-group-sm">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-sm">Go</button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Search" required="required" name="search">
        </div>
    </form>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="@Url.Action()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName()!</a>
                <ul class="dropdown-menu">
                    <li><a>Settings</a></li>
                    <li>@Html.ActionLink("Friends","","Friends")</li>
                </ul>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
